html, body { height: 100vh; }

:root {
  --white: #fff;
  --black: #000;
  --font: #5a5555;
  --primary: #e20221;
  --secondary: #23145f;
  --b--light-gray: #ebebeb;
  --bg-light-gray: #eee;
  --green: #467211; /* for kamera versjon */
}

body { background-color: var(--white); }

.w-max-240 {max-width: 240px;}

.pt4-halv {padding-top: 3rem;}

.mt3 { margin-top: 1rem; }

a { text-decoration: none; color: var(--font); }

ul {
  list-style: none;
  padding: 0; 
}

/* ---------------------------------- */
/* Header */
/* ---------------------------------- */

header { 
  max-height: 70px;
  min-height: 70px;
  background-color: var(--primary); 
}
#header-logo-white { height: 36px; }

/* ---------------------------------- */
/* SideBar */
/* ---------------------------------- */

.sidebar-left {
  padding: 1rem;
  padding-top: 3rem;
  width: 240px;
  background-color: #f6fffe; /* for testing */
}

.sidebar-left li a { padding-left: 1.2rem; }

.sidebar-line::after {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  width: 208px;
  background: var(--b--light-gray);
  margin-top: 1rem;
}

/* ---------------------------------- */
/* .main */
/* ---------------------------------- */

.main {
  padding: 2rem;
}

/* ---------------------------------- */
/* Footer */
/* ---------------------------------- */

footer {
  padding: 0.5rem;
  background: var(--bg-light-gray);
  text-align: center;
} 